.experiencia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: #09a; */
}

@media screen and (max-width:768px){
    .experiencia {
        flex-direction: column;
        justify-content: start;
    }
}