.experiencia__elementos__subtitulo {
    margin-bottom: 1.3rem;
}

.experiencia__subtitulo {
    font-size: 2rem;
}

.experiencia__subtitulo--1 {
    font-size: 1.5rem;
    color: #AB987A;
}

@media screen and (max-width:768px){
    .experiencia__subtitulo {
        font-size: 1.5rem;
    }

    .experiencia__subtitulo--1 {
        font-size: 1rem;
    }
}

@media screen and (max-width:360px) {
    .experiencia__subtitulo {
        font-size: 1rem;
    }

    .experiencia__subtitulo--1 {
        font-size: 1rem;
    }
}