.experiencia__elementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:768px){
    .experiencia__elementos {
        margin: 2rem 6rem 2rem;
    }
}

@media screen and (max-width:768px){
    .experiencia__elementos__botones {
        column-gap: 1.5rem;
    }
}
