.formacion__card__imagen {
    width: 270px;
    height: 270px;
    border-radius: 10%;
}

@media screen and (max-width:768px){
    .formacion__card__imagen {
        width: 200px;
        height: 200px;
    }
}

/*  */
@media screen and (max-width:360px) {
    .formacion__card__imagen {
        width: 150px;
        height: 150px;
    }
}