.contacto__formulario__mensaje {
    width: 40%;
    height: 20vh;
    margin: 0rem auto 1rem;
    resize: none;
    border: 3px solid #AB987A;
}

@media screen and (max-width:768px){
    .contacto__formulario__mensaje {
        width: 50%;
    }
}

/*  */
@media screen and (max-width:360px){
    .contacto__formulario__mensaje {
        width: 80%;
    }
}