.contacto__formulario {
    width: 40%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 3px;
    border: 2px solid #AB987A;
    background-color: #0f1626;
}

@media screen and (max-width:768px){
    .contacto__formulario {
        width: 70vw;
    }
}

@media screen and (max-width:360px){
    .contacto__formulario{
        width:80%;
        padding: 1rem;
    }
}