.sobre__titulo {
    font-size: 3rem;
}

@media screen and (max-width:768px){
    .sobre__titulo {
        font-size: 2rem;
    }
}

/*  */

@media screen and (max-width:360px) {
    .sobre__titulo {
        font-size: 1.5rem;
    }
}